<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hh.gridview_recyclerview">

    <!--联网权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--拨打电话的权限-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".myApplication.AndFixApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 谷歌地图 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB9Z8bTofZy5yynC72Thrn720Xuh4r2k28" />
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecyclerActivity" />
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.CoordinatorLayoutActivity" />
        <activity android:name=".activity.HotRepairActivity" />
        <activity android:name=".activity.SlidingDrawerActivity" />
        <activity android:name=".activity.DrawlayoutActivity" />
        <activity android:name=".activity.SlideMenuActivity" />
        <activity android:name=".activity.BitmapActivity" />
        <activity android:name=".activity.BigBitMapActivity" />
        <activity android:name=".activity.TouchListenActivity" />
        <activity
            android:name=".activity.RetrofitActivity"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".recyclerView.StaggeredGridLayoutActivity" />
        <activity
            android:name=".recyclerView.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.FragmentActivity" />
        <activity android:name=".activity.SurfaceViewActivity" />
        <activity android:name=".activity.DragViewActivity" />
        <activity android:name=".activity.MyseekbarActivity" />
        <activity android:name=".activity.TestPraiseActivity" />
        <activity android:name=".activity.LottieActivity" />
        <activity android:name=".activity.SIMCodeActivity" />
        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/activityTheme" />
        <activity android:name=".activity.TTHActivity" />
        <activity android:name=".activity.Camera2Activity" />
        <activity android:name=".activity.WinowMangerActivity" />
        <activity
            android:name=".activity.PrincipleActivity"
            android:label="@string/title_activity_principle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.Main2Activity" />
        <activity android:name=".activity.HnadlerThreadActivity" />
        <activity android:name=".activity.TabLauyoutActivity" />
        <activity android:name=".activity.MyrecycleviewActivity" />
        <activity android:name=".materialdesign.MaterialDesignActivity1" />
        <activity android:name=".activity.OkhttpActivity" />
        <activity android:name=".activity.RingProcessActivity" />
        <activity android:name=".activity.BrokenlineActivity" />
        <activity android:name=".activity.MyImageViewActivity" />
        <activity android:name=".activity.waterActivity" />
        <activity android:name=".activity.NumberPickActivity" />
        <activity android:name=".activity.SlideActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity
            android:name=".activity.WebViewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.OverScrollyByActivity"
            android:label="@string/title_activity_over_scrolly_by" />
        <!-- //显示软键盘,并让布局压缩 -->
        <activity
            android:name=".activity.InputActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <activity android:name=".activity.PullActivity" />
        <activity android:name=".activity.AnimatorActivity" />

        <service
            android:name=".service.ForgoundService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".materialdesign.MaterialDesignsActivity" />
        <activity android:name=".materialdesign.MaterialDesignActivity2" />
        <activity android:name=".activity.SocketActivity" />
        <activity android:name=".activity.ExpandableListViewActivity" />


    </application>

</manifest>